voltronic-cli/bin/skymax.bak
voltronic-cli/bin/skymax
voltronic-cli/test/
CMakeFiles
CMakeCache.txt
cmake_install.cmake
Makefile
.DS_Store
/.idea/docker-voltronic-homeassistant-bosvos.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
