[Unit]
Description=Reverse lookup Publish IP

[Service]
ExecStart= /home/pi/docker-votronic-homeassistant-bosvos/sources/services/publicip.sh

[Install]
WantedBy=multi-user.target
