# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Solar\docker-voltronic-homeassistant-bosvos\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
